C#/xml/consumeWebservice/consumeWebservice/Web References/wsTimbrado33/wsTimbrado33.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="www.facturaselectronicascfdi.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="www.facturaselectronicascfdi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="www.facturaselectronicascfdi.com">
      <s:element name="Timbrar33">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="curCorreo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Proceso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Timbrar33Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Timbrar33Result" type="tns:resultado33" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="resultado33">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sello" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errores" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlSellado" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="acuse" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="arregloAcuse" type="tns:ArrayOfBase64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="cadenaOriginal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaHoraTimbrado" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaHoraTimbradoSpecified" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="folioUUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PDF" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="selloDigitalEmisor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="selloDigitalTimbreSAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="SellarTimbrar33">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="curCorreo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Proceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CerFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="KeyFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="PassCsd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SellarTimbrar33Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SellarTimbrar33Result" type="tns:resultado33" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Timbrar33SoapIn">
    <wsdl:part name="parameters" element="tns:Timbrar33" />
  </wsdl:message>
  <wsdl:message name="Timbrar33SoapOut">
    <wsdl:part name="parameters" element="tns:Timbrar33Response" />
  </wsdl:message>
  <wsdl:message name="SellarTimbrar33SoapIn">
    <wsdl:part name="parameters" element="tns:SellarTimbrar33" />
  </wsdl:message>
  <wsdl:message name="SellarTimbrar33SoapOut">
    <wsdl:part name="parameters" element="tns:SellarTimbrar33Response" />
  </wsdl:message>
  <wsdl:portType name="wsTimbrado33Soap">
    <wsdl:operation name="Timbrar33">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Timbra el XML v3.3,Los archivos CER y KEY deben estar configurados en el portal Web </wsdl:documentation>
      <wsdl:input message="tns:Timbrar33SoapIn" />
      <wsdl:output message="tns:Timbrar33SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SellarTimbrar33">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Timbra el XML v3.3,Los archivos CER y KEY deben propocionarse en este Metodo, La cuenta debe ser MultiEmisora </wsdl:documentation>
      <wsdl:input message="tns:SellarTimbrar33SoapIn" />
      <wsdl:output message="tns:SellarTimbrar33SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsTimbrado33Soap" type="tns:wsTimbrado33Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Timbrar33">
      <soap:operation soapAction="www.facturaselectronicascfdi.com/Timbrar33" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellarTimbrar33">
      <soap:operation soapAction="www.facturaselectronicascfdi.com/SellarTimbrar33" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsTimbrado33Soap12" type="tns:wsTimbrado33Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Timbrar33">
      <soap12:operation soapAction="www.facturaselectronicascfdi.com/Timbrar33" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellarTimbrar33">
      <soap12:operation soapAction="www.facturaselectronicascfdi.com/SellarTimbrar33" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsTimbrado33">
    <wsdl:port name="wsTimbrado33Soap" binding="tns:wsTimbrado33Soap">
      <soap:address location="http://pruebas.facturaselectronicascfdi.com/wsTimbrado33.asmx" />
    </wsdl:port>
    <wsdl:port name="wsTimbrado33Soap12" binding="tns:wsTimbrado33Soap12">
      <soap12:address location="http://pruebas.facturaselectronicascfdi.com/wsTimbrado33.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>