C#/txt/consumeWebserviceLote/consumeWebservice/Web References/wsFechaHora/wsFechaHora.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecuperarFechaHoraActual">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="curCorreo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarFechaHoraActualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarFechaHoraActualResult" type="tns:respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errores" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaActual" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="horaActual" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaHoraActual" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecuperarFechaHoraActualSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarFechaHoraActual" />
  </wsdl:message>
  <wsdl:message name="RecuperarFechaHoraActualSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarFechaHoraActualResponse" />
  </wsdl:message>
  <wsdl:portType name="wsFechaHoraSoap">
    <wsdl:operation name="RecuperarFechaHoraActual">
      <wsdl:input message="tns:RecuperarFechaHoraActualSoapIn" />
      <wsdl:output message="tns:RecuperarFechaHoraActualSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsFechaHoraSoap" type="tns:wsFechaHoraSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarFechaHoraActual">
      <soap:operation soapAction="http://tempuri.org/RecuperarFechaHoraActual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsFechaHoraSoap12" type="tns:wsFechaHoraSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperarFechaHoraActual">
      <soap12:operation soapAction="http://tempuri.org/RecuperarFechaHoraActual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsFechaHora">
    <wsdl:port name="wsFechaHoraSoap" binding="tns:wsFechaHoraSoap">
      <soap:address location="https://sistema.facturaselectronicascfdi.com/wsFechaHora.asmx" />
    </wsdl:port>
    <wsdl:port name="wsFechaHoraSoap12" binding="tns:wsFechaHoraSoap12">
      <soap12:address location="https://sistema.facturaselectronicascfdi.com/wsFechaHora.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>