C#/txt/consumeWebserviceLote/consumeWebservice/Web References/PruebasWsCancelar33/WsCancelar33.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="www.facturaselectronicascfdi.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="www.facturaselectronicascfdi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="www.facturaselectronicascfdi.com">
      <s:element name="Cancelar33EncodeCSD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="curCorreo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RfcEmisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CerFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="KeyEncode64" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cancelar33EncodeCSDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cancelar33EncodeCSDResult" type="tns:resultado33" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="resultado33">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sello" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errores" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlSellado" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="acuse" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="arregloAcuse" type="tns:ArrayOfBase64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="cadenaOriginal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaHoraTimbrado" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaHoraTimbradoSpecified" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="folioUUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PDF" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="selloDigitalEmisor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="selloDigitalTimbreSAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="Cancelar33">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="curCorreo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RfcEmisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cancelar33Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cancelar33Result" type="tns:resultado33" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Cancelar33EncodeCSDSoapIn">
    <wsdl:part name="parameters" element="tns:Cancelar33EncodeCSD" />
  </wsdl:message>
  <wsdl:message name="Cancelar33EncodeCSDSoapOut">
    <wsdl:part name="parameters" element="tns:Cancelar33EncodeCSDResponse" />
  </wsdl:message>
  <wsdl:message name="Cancelar33SoapIn">
    <wsdl:part name="parameters" element="tns:Cancelar33" />
  </wsdl:message>
  <wsdl:message name="Cancelar33SoapOut">
    <wsdl:part name="parameters" element="tns:Cancelar33Response" />
  </wsdl:message>
  <wsdl:portType name="wsCancelar33Soap">
    <wsdl:operation name="Cancelar33EncodeCSD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancelar XML v3.3 EncodeCSD</wsdl:documentation>
      <wsdl:input message="tns:Cancelar33EncodeCSDSoapIn" />
      <wsdl:output message="tns:Cancelar33EncodeCSDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cancelar33">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancelar XML v3.3,Los archivos CER y KEY deben estar configurados en el portal Web </wsdl:documentation>
      <wsdl:input message="tns:Cancelar33SoapIn" />
      <wsdl:output message="tns:Cancelar33SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCancelar33Soap" type="tns:wsCancelar33Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Cancelar33EncodeCSD">
      <soap:operation soapAction="www.facturaselectronicascfdi.com/Cancelar33EncodeCSD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancelar33">
      <soap:operation soapAction="www.facturaselectronicascfdi.com/Cancelar33" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCancelar33Soap12" type="tns:wsCancelar33Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Cancelar33EncodeCSD">
      <soap12:operation soapAction="www.facturaselectronicascfdi.com/Cancelar33EncodeCSD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancelar33">
      <soap12:operation soapAction="www.facturaselectronicascfdi.com/Cancelar33" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCancelar33">
    <wsdl:port name="wsCancelar33Soap" binding="tns:wsCancelar33Soap">
      <soap:address location="http://pruebas.facturaselectronicascfdi.com/WsCancelar33.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCancelar33Soap12" binding="tns:wsCancelar33Soap12">
      <soap12:address location="http://pruebas.facturaselectronicascfdi.com/WsCancelar33.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>